@media (min-width: 1150px) {
    .services-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5em;
        grid-auto-flow: dense;
    }
    .fig-right {
        grid-column: 2;
    }
    .left-cor {
        grid-column: 2;
    }
    .fig-left {
        grid-column: 1;
    }
    .body_services {
        width: 70vw;
        margin: 0 auto;
    }
    .services-header{
        text-align: center;
    }
    .heading {
        font-size: 50px;
    }
}